backend:
  name: test-repo
  repo: perspectivas-py/perspectivas-vercel
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "noticias"
    label: "Noticias"
    folder: "content/noticias"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Fecha", name: "date", widget: "datetime" }
      - { label: "Autor", name: "author", widget: "string", default: "Redacción Perspectivas" }
      - { label: "Contenido", name: "body", widget: "markdown" }
